// --- Loader
.loader{
	background-color: rgba(white, .5);
	height: 100vh;
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	z-index: 9999;
	animation: loader 1 forwards;
	animation-duration: 2s;
	backdrop-filter: blur(3px);

	// --- SVG Loader
	svg{
		height: 60px;
		width: 60px;
	}
}